<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>작성자</th>
            <th>내용</th>
            <th>변경</th>
            <th>제거</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.writer}"></td>
            <td th:text="${comment.content}"></td>
            <td >
                <th:block th:if="${!comment.delete}">
                    <a th:href="@{/update(id=${comment.id})}">변경</a>
                </th:block>
            </td>
            <td>
                <th:block th:if="${!comment.delete}">
                    <form name="delete" action="/delete" method="post">
                        <input type="hidden" name="id" th:value="${comment.id}">
                        <button type="submit">삭제</button>
                    </form>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <form name="create" action="/create" method="post">
        <div class="form-group">
            <input type="text" id="writer" name="writer" placeholder="작성자">
            <input type="text" id="content" name="content" placeholder="내용">
        </div>
        <button type="submit">작성</button>
    </form>
</div>

</body>
</html>