<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="container">
    <form name="update" action="/update" method="post">
        <div class="form-group">
            <input type="hidden" id="id" name="id" th:value="${id}">
            <input type="hidden" id="writer" name="writer" th:value="${writer}" th:text="${writer}">
            <input type="text" id="content" name="content" placeholder="내용" th:value="${content}">
        </div>
        <button type="submit">변경</button>
    </form>
</div>

</body>
</html>